<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Coveo:OrganizationID" value="arrisgroupnonproduction1brh81p77" />
    <add key="Coveo:PushApiKey" value="xx69fb88a6-9e79-4fd0-95ec-f0fb0fff78b0" />
    <add key="Coveo:SearchTerms" value="antenna,green,pwrt,dpj-206-150,553079,760242565,remote,webinar,blogs,resources,news,growth,commscope,arris,wireless,industry,ruckus,generation,indoor,transaction,green,approval,clearance,technology,investors,stock" />
    <add key="Coveo:Pipeline" value="CommScope ADE Global Search" />
    <add key="Coveo:SearchHub" value="cmsADEGlobalSearch" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.14.0" newVersion="2.0.14.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>